@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    min-height: 100vh;
    margin: auto;
}

.picture{
    margin-top: 1.5rem;
    text-align: center;
}

.picture img{
    width: 150px;
    height: 150px;
    filter: blur(.2px);
    border-radius: 50%;
}

.introduction{
    margin-top: 1rem;
    text-align: center;
}

.introduction h4::after{
    content: '(rndio)';
    font-size: .9rem;
    margin: 0px 6px;
} 

.introduction p{
    color: #6c757d;
}

.introduction span#age::before {
    content: '-';
    margin: 0 5px;
}

.information{
    text-align: left;
    margin-top: 2.5rem;
    margin-left: 10px;
    margin-right: 10px;
}

.information p{
    margin-bottom: 0;
    color: #6c757d;
}

.socialmedia{
    text-align: center;
}

.socialmedia a{
    text-decoration: none;
    color: #6c757d;

}

.socialmedia img{
    opacity: 1;
    transition: all .2s;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 2px;
    filter: grayscale(100%);
}

.socialmedia img:hover{
    filter: grayscale(0%);
    transition: all .2s;
}

footer #quote::after{
    content: '-';
    margin: 0 5px;
}